@media only screen and (max-width: 576px) {
  header .header-top {
    padding: 0;
  }
  header .header-top .row > * {
    padding-left: calc(var(--bs-gutter-x) * 0);
  }
  header .header-top .header-top-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
  header .header-top .header-top-right {
    display: none;
  }
  header .nav-logo img {
    width: 40px;
  }
  header .nav-middle ul li {
    margin-right: 10px !important;
    font-size: 14px;
  }
  .ad2 {
    text-align: center !important;
  }
  .catogary-title {
    padding: 0 20px;
  }
  #catagory-2 .catogary-2-left {
    margin-bottom: 20px;
  }
  #catagory-2 .catogary-2-left .catogary-2-left-img .catogary-2-detail a {
    font-size: 22px;
  }
  #catagory-4 .catogary-4-detail {
    margin-bottom: 20px;
  }
  footer {
    text-align: center;
  }
  footer .f-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-bottom .footer-bottom-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-social {
    display: none;
  }
  .repoter {
    width: 90px;
    height: 90px;
  }
  .repoter .reporter-inner span {
    font-size: 12px;
    padding: 0;
  }
  #sidebar {
    overflow: hidden;
  }
  #sidebar .sidebar-most-recent .count {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #tv .row {
    --bs-gutter-x: 1.5rem;
  }
  #tv .tv-display .tv-vdo iframe {
    height: 315px;
  }
  #video-page .video-main .vdo-top {
    margin-bottom: 20px;
  }
  #video-page .video-main .vdo-top iframe {
    height: 350px;
  }
  #inner-page {
    overflow: hidden;
  }
  #podcast .podcast-main .podcast-main-detail .listeners ul li {
    margin-right: 5px;
  }
  #podcast .podcast-cards .podcast-card-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #podcast .podcast-cards .podcast-card-inner .podcast-card-detail {
    margin: 0;
    padding-top: 20px;
  }
  #podcast .podcast-cards .podcast-card-inner .podcast-card-detail .others {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #catagory-page .catagory-page-main .catagory-page-main-left {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 990px) {
  header .header-top {
    padding: 0;
  }
  header .header-top .row > * {
    padding-left: calc(var(--bs-gutter-x) * 0);
  }
  header .header-top .header-top-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #catogary-1 .catogary-1-sidebar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #catagory-2 .catogary-2-left .catogary-2-left-img .catogary-2-detail a {
    font-size: 22px;
  }
  #catogary-vdo .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #catogary-vdo .catogary-vdo-sidebar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
/*# sourceMappingURL=responsive.css.map */